/* 
font-family: "Arvo", serif;
font-family: "Open Sans", sans-serif;
font-family: "Montserrat", sans-serif;
*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12,1fr);
    grid-template-areas: 
    'item1 item1 item1 item1 item1 item1 item2 item2 item2 item2 item2 item2'
    'item1 item1 item1 item1 item1 item1 item2 item2 item2 item2 item2 item2'
    'item3 item3 item3 item4 item4 item4 item4 item4 item4 item5 item5 item5'
    'item3 item3 item3 item4 item4 item4 item4 item4 item4 item5 item5 item5'
    'item6 item6 item6 item7 item7 item7 item7 item7  item7 item5 item5 item5'
    'item6 item6 item6 item7 item7 item7 item7 item7  item7 item5 item5 item5'
    'item8 item8 item8 item9 item9 item9 item10 item10 item10 item10 item10 item10'
    ;
}
.item-1{
    grid-area: item1;
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #FFFFFF;
}
.item-1 .content-item-1{
    width: 50%;
    padding: 90px 60px;
}
.item-1 .content-item-1 h4{
    color:rgb(159, 163, 167);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 12;
    line-height: 20px;
    margin-bottom: 12px;
}
.item-1 .content-item-1 p{
    color:rgb(51, 51, 51);
    font-family: "Arvo", serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 15px;
}
.item-1 .content-item-1 span{
    color: rgb(159, 163, 167);
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;

}
.item-1 .img-item-1{
    width: 35%;
    padding-top: 110px ;
    margin: auto;
}
.item-1 .img-item-1 img{
    width: 100%;
}

.item-2{
    padding: 90px 60px 0 ;
    text-align: center;
    grid-area: item2;
    background-color: #F7F8F9;
}
.item-2 h4{
    color:rgb(159, 163, 167);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 12;
    line-height: 20px;
    margin-bottom: 12px;
}
.item-2 p{
    color:rgb(51, 51, 51);
    font-family: "Arvo", serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 15px;
}
.item-2 a{
    color: rgb(39, 185, 194);
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;

}
.item-3{
    grid-area: item3;
    background-color: #F05638;
    text-align: center;
    padding: 50px 30px;
    font-weight: bold;
}
.item-3 img{
    width: 100%;
    margin-bottom: 15px;
}
.item-3 p{
    color: white;
    font-family: "Arvo", serif;
    margin-bottom: 30px;
    font-size: 22;
    line-height: 32px;

}
.item-3 span{
    color: rgb(255, 200, 10);
    font-weight: 700;
    font-size: 12;
    line-height: 26px;
    font-family: "Open Sans", sans-serif;
}
.item-3 span i{
    font-size: 12;
    padding-left: 4px;
}
.item-4{
    grid-area: item4;
    background-color: #FFFFFF;
    padding: 80px 70px 0;
    display: flex;
}
.item-4 .content-1-item-4{
    width: 50%;
}
.item-4 .content-1-item-4 h4{
    color:rgb(159, 163, 167);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 12;
    line-height: 20px;
    margin-bottom: 12px;
}
.item-4 .content-1-item-4 p{
    color:rgb(51, 51, 51);
    font-family: "Arvo", serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 25px;
    position: relative;
    margin-right: 40px;
}
.item-4 .content-2-item-4 span{
    font-weight: 700;
    font-size: 12px;
    line-height: 26px;
    color: rgb(39, 185, 194);
    font-family: "Open Sans", sans-serif;
    letter-spacing: 3px;
}
.item-4 .content-2-item-4 p{
    color: rgb(159, 163, 167);
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 25px;
}
.item-4 .content-2-item-4 i{
    padding-left: 3px;
    font-size: 12px;
}
.item-4 .content-2-item-4{
    width: 50%;
}
.item-4 img{
    margin: auto;
    width: 60%;
}
.item-5{
    grid-area: item5;
    background-color: #8F76BC;
    text-align: center;
    padding: 50px 40px;
    color: white;
}
.item-5 img{
    padding: 20px 0 10px;
    width: 100%;

}
.item-5 h4{
    font-size: 10px;
    font-weight: 700;
    line-height: 23px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 2px;
}
.item-5 i{
    color: rgb(255, 200, 10);
    padding-right: 8px;
}
.item-5 h5{
    font-size: 14;
    line-height: 26px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 50px;

}
.item-5 h2{
    line-height: 26px;
    font-family: "Arvo", serif;
    font-size: 32px;
    margin-bottom: 10px;
}
.item-5 p{
    font-family: "Open Sans", sans-serif;
    line-height: 26px;
    margin-bottom: 25px;
}
.item-5 button{
    font-weight: 700;
    font-size: 12px;
    line-height: 26px;
    letter-spacing: 3px;
    padding: 15px 25px;
    background-color: #FFC80A;
    border-radius: 30px;
    border: 1px solid #FFC80A;
}
.item-6{
    text-align: center;
    grid-area: item6;
    background-color: #F7F8F9;
    padding: 30px 40px;
}
.item-6 img{
    width: 80%;
    margin-bottom: 20px;
}
.item-6 p{
    font-size: 22;
    color: rgb(51, 51, 51);
    font-family: "Arvo", serif;
    margin-bottom: 40px;
}
.item-6 span{
    font-weight: 700;
    font-size: 12px;
    line-height: 26px;
    color: rgb(39, 185, 194);
    font-family: "Open Sans", sans-serif;
    letter-spacing: 3px;
}
.item-7{
    grid-area: item7;
    background-color: #93B6B7;
    position: relative;
    text-align: center;
    padding-top: 50px;
    color: white;
}
.item-7 span{
    font-size: 8px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    background-color: #FA684F;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    padding: 1px 8px;
    position: absolute;
    top: 5%;
    left: 5%;
}
.item-7 h2{
    font-weight: 700;
    font-size: 22;
    line-height: 32px;
    font-family: "Arvo", serif;
    margin-bottom: 20px;
}
.item-7 img{
    width: 80%;
}
.layer{
    width: 70%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
.layer img{
    width: 100%;
}
.item-8{
    grid-area: item8;
    background-color: #38D5F4;
    padding: 40px 70px;
    color: white;
    font-family: "Arvo", serif;
    text-align: center;

}
.item-8 p{
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
}
.item-8 img{
    width: 25%;
    margin-bottom: 15px;
}
.item-9{
    grid-area: item9;
    background-color: #F7F8F9;
    text-align: center;
    padding: 40px 0px;

}
.item-9 span{
    font-size: 8px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    background-color: #7BC424;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    padding: 4px 10px;
    color: white;
}
.item-9 h2{
    font-size: 22px;
    line-height: 32px;
    font-family: "Arvo", serif;
    color: rgb(51, 51, 51);
    font-weight: 400;
    margin-top: 12px;
}
.item-10{
    grid-area: item10;
    background-color: #2C2C2C;
    display: flex;
    color: white;
}
.item-10 .content-item-10{
    padding: 40px 120px 0 0;
    width: 50%;
}
.item-10 .content-item-10 p{
    font-size: 22px;
    line-height: 32px;
    font-family: "Arvo", serif;
    color: white;
    font-weight: 400;
    margin-top: 12px;
}
.item-10 .img-item-10{
    text-align: center;
    width: 50%;
}
.item-10 .img-item-10 img{
    width: 45%;
}